# Copy this file to .env before starting the stack.
MINUTIAE_WEB_PORT=8080
MINUTIAE_FINGERPRINT_PORT=9000
MINUTIAE_DB_NAME=minutiae_runtime
MINUTIAE_DB_PASSWORD=
MINUTIAE_ADMIN_USERNAME=admin
MINUTIAE_ADMIN_PASSWORD=
MINUTIAE_AFIS_BASE_URL=http://host.docker.internal:9000
